<h1><%= "#{@merchant.name} Bulk Discounts" %></h1>
<%= link_to "New Discount", "/merchants/#{@merchant.id}/discounts/new", method: :get %>
<% @merchant.discounts.each_with_index do |discount, index| %>
  <p><%= link_to "Discount #{index + 1}", "/merchants/#{@merchant.id}/disounts/#{discount.id}", method: :get %></p>
  <%= "Percentage: #{discount.percentage}, Threshold: #{discount.threshold}" %>
  <%= button_to "Delete Discount #{index + 1}", "/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
<% end %>
